<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcwenhua.card.mapper.ExportHistoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jcwenhua.card.entity.ExportHistory">
		<id column="id" property="id" />
		<result column="policy_id" property="policyId" />
		<result column="export_time" property="exportTime" />
	</resultMap>

</mapper>
