<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcwenhua.card.mapper.JoininMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jcwenhua.card.entity.Joinin">
		<id column="id" property="id" />
		<result column="wx_id" property="wxId" />
		<result column="phone_number" property="phoneNumber" />
		<result column="name" property="name" />
		<result column="apply_type" property="applyType" />
		<result column="status" property="status" />
		<result column="create_type" property="createType" />
		<result column="create_time" property="createTime" />
		<result column="bind_time" property="bindTime" />
		<result column="unbind_time" property="unbindTime" />
	</resultMap>

	<select id="search" parameterType="com.jcwenhua.card.params.JoininSearchParam" resultMap="BaseResultMap">
		SELECT
		j.id as Id,
		j.wx_id as wxId,
		j.phone_number as phoneNumber,
		j.name as name,
		j.apply_type as applyType,
		j.status as status,
		j.create_type as createType,
		j.create_time as createTime,
		j.bind_time as bindTime,
		j.unbind_time as unbindTime
		FROM joinin j
		WHERE 1=1
		<if test="status != null">
			AND j.status =#{status}
		</if>
		<if test="applyDateBegin !=null">
			AND <![CDATA[j.create_time >=#{applyDateBegin} ]]>
		</if>
		<if test="applyDateEnd !=null">
			AND <![CDATA[j.create_time <=#{applyDateEnd} ]]>
		</if>
	</select>
</mapper>
