<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcwenhua.card.mapper.PolicyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jcwenhua.card.entity.Policy">
        <id column="id" property="id"/>
        <result column="card_id" property="cardId"/>
        <result column="holder" property="holder"/>
        <result column="holder_id_no" property="holderIdNo"/>
        <result column="holder_phone" property="holderPhone"/>
        <result column="recognizee" property="recognizee"/>
        <result column="recognizee_id_no" property="recognizeeIdNo"/>
        <result column="recognizee_phone" property="recognizeePhone"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="export_status" property="exportStatus"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <select id="search" parameterType="com.jcwenhua.card.params.PolicySearchParam" resultMap="BaseResultMap">
        SELECT
        p.id as Id,
        p.card_id as cardId,
        p.holder as holder,
        p.holder_id_no as holderIdNo,
        p.holder_phone as holderPhone,
        p.recognizee as recognizee,
        p.recognizee_id_no as recognizeeIdNo,
        p.recognizee_phone as recognizeePhone,
        p.start_time as startTime,
        p.end_time as endTime,
        p.export_status as exportStatus,
        p.create_time as createTime
        FROM policy p
        WHERE 1=1
        <if test="exportStatus != null">
            AND p.export_status =#{exportStatus}
        </if>
        <if test="createTimeBegin !=null">
            AND <![CDATA[p.create_time >=#{createTimeBegin} ]]>
        </if>
        <if test="createTimeEnd !=null">
            AND <![CDATA[p.create_time <=#{createTimeEnd} ]]>
        </if>
        order by p.id desc
    </select>

    <select id="query" parameterType="com.jcwenhua.card.params.PolicySearchParam"
            resultType="com.jcwenhua.card.model.PolicyInfo">
        SELECT
        p.id as Id,
        p.card_id as cardId,
        c.card_no as cardNo,
        c.password as cardPassword,
        c.type as cardType,
        p.holder as holder,
        p.holder_id_no as holderIdNo,
        p.holder_address as holderAddress,
        p.holder_birthday as holderBirthday,
        p.holder_gender as holderGender,
        p.holder_occupation as holderOccupation,
        p.holder_phone as holderPhone,
        p.recognizee as recognizee,
        p.recognizee_id_no as recognizeeIdNo,
        p.recognizee_phone as recognizeePhone,
        p.holder_recognizee_relation as holderRecognizeeRelation,
        p.start_time as startTime,
        p.end_time as endTime,
        p.export_status as exportStatus,
        p.create_time as createTime
        FROM policy p,card c
        WHERE p.card_id = c.id
        <if test="exportStatus != null">
            AND p.export_status =#{exportStatus}
        </if>
        <if test="createTimeBegin !=null">
            AND <![CDATA[p.create_time >=#{createTimeBegin} ]]>
        </if>
        <if test="createTimeEnd !=null">
            AND <![CDATA[p.create_time <=#{createTimeEnd} ]]>
        </if>
        <if test="cardType !=null">
            AND <![CDATA[c.type =#{cardType} ]]>
        </if>
        <if test="startCardNo !=null" >
            AND <![CDATA[c.card_no >=#{startCardNo} ]]>
        </if>
        <if test="endCardNo !=null" >
            AND <![CDATA[c.card_no <=#{endCardNo} ]]>
        </if>
        order by p.id desc
    </select>

    <select id="queryByIds" resultType="com.jcwenhua.card.model.PolicyInfo">
        SELECT
        p.id as Id,
        p.card_id as cardId,
        c.card_no as cardNo,
        c.password as cardPassword,
        c.type as cardType,
        p.holder as holder,
        p.holder_id_no as holderIdNo,
        p.holder_phone as holderPhone,
        p.recognizee as recognizee,
        p.recognizee_id_no as recognizeeIdNo,
        p.recognizee_phone as recognizeePhone,
        p.start_time as startTime,
        p.end_time as endTime,
        p.export_status as exportStatus,
        p.create_time as createTime
        FROM policy p,card c
        WHERE p.card_id = c.id
        AND p.id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        order by p.id desc
    </select>

    <update id="setRecordExport">
        update policy
        <set>
            export_status=true
        </set>
        where id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
