<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.card.mapper.CardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.card.entity.Card">
		<id column="id" property="id" />
		<result column="card_no" property="cardNo" />
		<result column="password" property="password" />
		<result column="type" property="type" />
		<result column="state" property="state" />
		<result column="agent_id" property="agentId" />
		<result column="customer_id" property="customerId" />
		<result column="active_time" property="activeTime" />
		<result column="use_time" property="useTime" />
	</resultMap>

	<select id="selectStaticInfo" resultType="com.example.card.entity.CardStaticInfo">
		SELECT
		COUNT(1) AS totalCount,
		IFNULL(SUM(IF(state = 1, 1, 0)) ,0)AS activeCount,
		IFNULL(SUM(IF(state = 2, 1, 0)),0) AS usedCount
		FROM
		card ;

	</select>

	<select id="search" parameterType="com.example.card.params.CardSearchParam" resultType="com.example.card.model.CardInfoModel">
		SELECT
		c.id ,
		c.card_no as cardNo,
		c.password,
		c.state,
		c.type,
		cy.name as typeName,
		a.id as agentId,
		a.name as agentName,
		cs.id as customerId,
		cs.name as customerName,
		c.active_time as activeTime,
		c.used_time as usedTime
		FROM card c
		left join card_type cy on cy.id = c.type
		left join agent a on a.id = c.agent_id
		left join customer cs on cs.id = c.customer_id
		WHERE 1=1
		<if test="state != null">
			AND c.state =#{state}
		</if>
		<if test="keyword !=null">

		</if>
		<if test="agentName != null">
			AND a.name = #{agentName}
		</if>
		<if test="startTime !=null">
			AND <![CDATA[c.active_time >=#{startTime} ]]>
		</if>
		<if test="endTime !=null">
			AND <![CDATA[c.active_time <=#{endTime} ]]>
		</if>
	</select>

</mapper>
