<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.card.mapper.JoininMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.card.entity.Joinin">
		<id column="id" property="id" />
		<result column="wx_id" property="wxId" />
		<result column="phone_number" property="phoneNumber" />
		<result column="name" property="name" />
		<result column="apply_type" property="applyType" />
		<result column="state" property="state" />
		<result column="create_type" property="createType" />
		<result column="create_time" property="createTime" />
		<result column="bind_time" property="bindTime" />
		<result column="unbind_time" property="unbindTime" />
	</resultMap>

</mapper>
